* {
    font-family: Raleway, serif;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #000000;
}

::-webkit-scrollbar-thumb {
    background: #0d6efd !important;
}

::-webkit-scrollbar-thumb:hover {
    background: #feffffd0;
}