.header-wrapper {
    background-color: black;
    padding: 1rem 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    gap: 10px;
    display: flex;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.nav-link {
    color: white;
    margin-left: 1rem;
}

.nav-link:hover {
    color: #78aeff;
    text-decoration: none;
}

.admin-link {
    background-color: #0079be;
    border-radius: 20px;
}

.admin-link:hover {
    background-color: #005281;
    color: white;
}

@media (max-width: 991px) {
    .admin-link {
        background-color: transparent;
    }
}